/*CSS練習１*/
/*h1{color: green;}*/
h1{color: #F0A050;}
/*CSS:枠線の指定*/
/*th,td{border: dashed thick black;}
/*borderプロパティ*/
th,td{border: dashed thick #000000;}
th,td{border: transparent;}
/*CSS:Class属性とセレクタ*/
th.important{color: red;}
p.sample1{border: double 10px #0000ff;}
p.sample2{border: inset 10px #ff0000;}
p.sample3{margin: 30px 30px; padding: 10px; border: medium solid #ff00ff;}